.main-container {
  background-color: rgba(104, 103, 103, 0.6);
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.supp {
  background-color: red;
}

#glace {
  height: 20px;
  margin-top: 70px;
  margin-left: -120px;
}

#parfums {
  height: 20px;
  margin-top: 70px;
  margin-left: -140px;
}
